models/
data/

parsed/
retrieved_contexts/
embedding_cache/
unified_candidates/

submission*.xlsx
train_preds*.xlsx
*.joblib

__pycache__/
.ipynb_checkpoints/
*.pyc

*.csv

.env
.DS_Store

.vscode/
.idea/

local.py
quick_vis.ipynb